
/* PRELOAD IMAGES AND SHIT*/

@media screen and (max-device-width: 480px){
    body{...}
    div{...}
    #nav,#nav li{...}
    img{
        max-width:100%;
        height:auto;
    }
		.footer {
    img{
        max-width:100%;
		height:auto;
		}
		
 	clear: both;
 	position: relative;
 	z-index: 10;
 	height: 5em;
 	text-align: left;
 
}


}

    .detail_preload {
        display:block !important;
    }


/* Body Stretch
*******************************************************************************************/

html, body, #container { height: 100%; }
body > #container { height: auto; min-height: 100%; }



    /* Footer
***********************************************************************************************************/
    
.footer {

 clear: both;
 position: relative;
 z-index: 10;
 height: 5em;
 text-align: right;
 margin-right: -.5em;
 margin-top: -11em;
}
	
.pagination { color: #999999; font-size: 15px; margin: 1.5 0 0 0; }
.pagination a { color: #999999; text-decoration: underline; }
.pagination a:hover { color: #000000; }
.pagination a:active { color: #666666; }
